<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <h1>Email Varification</h1>
    <form action="/result" method="POST">
        <p>Enter Email: <input type="text" name="messege" placeholder="Submit Here" required></p>
        <input type="submit" value="Submit">
    </form>
    {% if msg %}
        <div class="result">
            <h3>Prediction: </h3>
            <h1>{{msg}}</h1>
            <h3>email</h3>
        </div>
    {% endif %}
</body>
</html>